html,
body,
/* stylelint-disable-next-line selector-id-pattern */
#__next {
  height: 100%;
  font-family: BlinkMacSystemFont, sans-serif;
}

li {
  list-style-type: none;
}

[contenteditable]:focus {
  outline: none;
}
